<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content= "width=device-width, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Press+Start+2P&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Home</title>
</head>
<body>
 <div class="whole">
      <div class="header" style="background-color: white;">  
        <div class="options">
            <div id="id1"><a href="">Home</a></div>
            <div id="id1"><a href="">About Us</a></div>
            <div id="id1"><a href="">Services</a></div>
            <div id="id1"><a href="/contact" >Contact</a></div>
        </div>
       
        <div class="end">
            <div id="id1"><a href="">Meal Plans</a></div>
            <div id="id1"><a href="/bmi"><button>Calculate BMI</button></a></div>
            <div id="id1"><a href="/calorie"><button>Calculate Calorie</button></a></div>
            
        </div> 
        <div id="idb"><button ><i class=""></i></button></div></div>
        <script>
            var idb=document.getElementById("idb");
            idb.onclick= function(){
                document.body.classList.toggle("dark-theme");
            }
        </script></div>
    <div class="content" >
        <div class="white" data-aos="fade-down" data-aos-duration="2000">
            <div id="id2"><h1>WELLY</h1>
                <h3>Your personal gym trainer</h3>
                Get ready for being fit without going to gym!<br>
                Get your favourite exercises, plans, guides and everything here!<br><br>

          <div id="id4"><a href=""><button >Learn More</button></a></div> 
           <div id="id3"> <a href="/exercise1"><button>Start Workout</button></a></div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<div class="mid">
    <h1>MEET WELLY</h1>
    Welly, your AI-powered fitness trainer! Welly recommends personalized workout plans, tracks your progress with precise pose estimation, and counts your reps effortlessly. With her diet suggestions tailored to your fitness goals, Welly ensures a holistic fitness experience, helping you stay motivated and reach your best self!<br>
</div>
<div class="mid1" style="color: black;">
    <div class="top">
    <div id="box" data-aos="fade-right" data-aos-duration="2000" style="background-color:rgb(171, 216, 255);"><h1>Workout Plans</h1><br>
        Our workout plans are carefully designed to deliver exceptional results, no matter your fitness level or goals.<br>
         Each plan incorporates a perfect mix of strength, endurance, and flexibility exercises,
          ensuring balanced progress.<br>
          Tailored to individual needs, our routines are structured for efficiency, keeping you motivated and engaged.<br>
           With a focus on progression, variety, and sustainability, 
        our plans ensure consistent improvement, helping you stay on track and achieve lasting fitness success!
         <br><br>
        <a href="">View More</a></div><br><br>
    <div id="box" data-aos="fade-left" data-aos-duration="2000" style="background-color: rgb(247, 255, 140);"><h1>Meal Plans</h1><br> 
        Our meal plans are expertly tailored to align with your fitness goals
         providing balanced nutrition for peak performance and recovery. <br>
         Whether you're looking to build muscle, lose weight, or maintain a healthy lifestyle, 
         each plan is packed with nutrient-rich, delicious options that cater to your dietary preferences.<br>
          With a focus on variety and sustainability, our meal plans keep you energized, satisfied, 
          and on the path to long-term success in your fitness journey!
        <br><br>
        <a href="">View More</a></div>
   </div>
</div>
<div class="mid2" >
    <hr>
    <h1>What difference<br>we make<br></h1>
    We stand out by offering personalized, results-driven fitness solutions tailored to your unique goals.<br>
    With a seamless blend of cutting-edge AI technology, expert-designed workout and meal plans,<br>
    and real-time progress tracking, we provide a holistic approach that ensures <br>sustainable results,
     motivation, and a truly individualized fitness experience!<br><br>
     <hr></div>
<div class="mid3"  data-aos="zoom-out" data-aos-duration="1500" style="color: black;">
    <div class="left">
        <h1>Fun fact: </h1>
    </div>
    <div class="right"> 
        Welly can estimate your workout reps with such precision, it's like having 
        a personal trainer with a built-in calculator!<br>
         Plus, she never gets tired or takes breaks<br>always ready to keep you on track with perfect form
          and endless energy!<br><br>
         </div></div>
 
<div class="fin">
    <div class="horixon" data-aos="flip-up" data-aos-duration="2000">
    <div class="claim">
<h1>WELLY</h1>
<p>Diksha Velhal<br><br>
    Falak Shah<br><br>
   Isha Gala<br><br>
    Isha Shah<br><br>
</p>
    </div>
    <div class="support">
        <br><br>  <h3>Support</h3> 
      <p>Chat<br><br>
        Contact us<br><br>
        FAQs</p> 
    </div>
    <div class="links">
        <br><br>  <h3>Links</h3>
        Blog<br><br>
        Help<br><br>
        Contacts
    </div>
    <div class="about">
        <br><br> <h3>About company</h3>
        History<br><br>
        About us<br><br>
        Our mission
    </div></div>
   
</div>
<script>
    window.embeddedChatbotConfig = {
    chatbotId: "wh0J-8kynNIw4QdWtgBD9",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="wh0J-8kynNIw4QdWtgBD9"
    domain="www.chatbase.co"
    defer>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>